{% load static %}

<!doctype html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% block links %}
        <link rel="stylesheet" href="{% static 'font-awesome/css/all.css' %}">
        <link rel="stylesheet" href="{% static 'bootstrap-4-2/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block title %}
        {% include 'title.html' %}
    {% endblock %}
<body>

{% block head %}
    <nav class="navbar navbar-dark bg-dark">
        <ul class="navbar navbar-nav ml-auto">
            <li><a class="nav-item" href="{% url 'core:logout' %}">Выйти</a></li>
        </ul>
    </nav>
{% endblock %}

{% block content %}
{% endblock %}

{% block footer %}
    <footer class="footer-bottom my-3 pt-3 border-top">
        <div class="container text-center">
            <span class="text-muted">© 2017-2018 Logic LLC</span>
        </div>
    </footer>
{% endblock %}

<script type="text/javascript" src="{% static 'jquery/jquery-3.3.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bootstrap-4-2/js/bootstrap.min.js' %}"></script>

</body>

</html>