{% extends 'base.html' %}

{% load widget_tweaks %}
{% load static %}

{% block links %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
    <form class="form" method="post" action="">
        {% block form_header %}
            <h1 class="h3 mb-3 font-weight-normal text-center">{{ form_header_text }}</h1>
        {% endblock %}

        <div class="mt-4 mb-4">
            {% if form.non_field_errors %}
                <ul class="list-group">
                    {% for error in form.non_field_errors %}
                        <li class="list-group-item list-group-item-danger small">{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>

        {% csrf_token %}

        {% for field in form %}
            {% if field.help_text %}
                <div class="modal fade" role="dialog" id="modal-{{ field.auto_id }}">
                    <div class="modal-dialog modal-sm" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">{{ field.label }}</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                {{ field.help_text }}
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}:
                    {% if field.field.required %}
                        <small class="red">*</small>
                    {% endif %}
                </label>
                {% if field.help_text %}
                    <button class="btn btn-sm transparent float-right" type="button" data-toggle="modal"
                            data-target="#modal-{{ field.auto_id }}">
                        <i class="fa fa-question"></i>
                    </button>
                {% endif %}
                {% render_field field class='form-control' tabindex=2 %}
                {% if field.errors %}
                    {% for error in field.errors %}
                        <div class="invalid-feedback d-block">
                            {{ error }}
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        {% endfor %}

        {% block submit %}
            <div class="mt-4">
                <button class="btn btn-lg btn-primary btn-block" type="submit">{{ submit_text }}</button>
            </div>
        {% endblock %}

        {% block post_form %}
        {% endblock %}
    </form>
{% endblock %}

{% block footer %}
{% endblock %}